src/Core/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="ModuleTileViewModels" type="tns:ModuleTileViewModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModuleTileViewModels">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ModuleTileViewModelsItem" type="tns:ModuleTileViewModelsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModuleTileViewModelsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Property2" type="xs:boolean" />
  </xs:complexType>
</xs:schema>